 @font-face {
    font-family: Dyno;
    src: url(../fonts/Dyno/Dyno\ Regular.ttf)
}

@font-face {
    font-family: Cicle Fina;
    src: url(../fonts/Cicle/Cicle\ Fina.ttf)
}

@font-face {
    font-family: Cicle Gordita;
    src: url(../fonts/Cicle/Cicle\ Gordita.ttf)
}

@font-face {
    font-family: Cicle Semi;
    src: url(../fonts/Cicle/Cicle\ Semi.ttf)
}

/*-- Fin font face --*/

/* Animation */
@keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }

    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px)
    }

    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px)
    }
}

@keyframes colorfill {
    from {
        filter: grayscale(1);
    }
    to {
        filter: grayscale(0);
    }
}

:root {
    --main-bg-color2: #f7af3e;
    --main-bg-color: #333333;
    --second-bg-color: #505050; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background-color: var(--second-bg-color);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-bg-color2);
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cf9435;
}

/*-- Début forme du body et header --*/
html {
    font-size: 24px;
    overflow-x: hidden;
}

body {
    font-family: 'Cicle Fina', sans-serif;
    color: #fff;
    padding: 0;
	margin: 0;
	background-color: var(--second-bg-color);
}

.lien {
    color: white
}
.retour {
    z-index: 5;
    position: sticky;
    bottom: 8vh;
}
.haut {
    z-index: 5;
    background-color: var(--main-bg-color2);
    color: white;
    border: 10px 10px solid #000;
    border-radius: 15px;
    padding: 10px 10px;
    bottom: 4vh;
    right: 0;
    position: absolute;
    margin-right: 2vw;
    max-width: 5vw;
    max-height: 5vh;
    content: url("../images/triangle.png");
    animation: shake-vertical 5s ease-out infinite both;
  }

header {
	font-family: 'Dyno', sans-serif;
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background:  var(--main-bg-color);
    color: rgb(255, 255, 255);
    padding: 0 2rem;
    position: fixed;
    z-index: 100;
}
/*.Cordoue {
    background-color: #b94503;
    padding: 5px;
    width: 100%;
    height: 200px;
}*/

/*-- Fin forme du body et header --*/

/*-- Début barre de navigation --*/

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
	font-size: 2rem;
    z-index: 101;
}
nav .logo {
	display: flex;
	align-items: center;
    z-index: 101;
}

nav .logo .logotype {
	width: 150px;
	height: 50px;
}

nav .logo img {
	width: 40px;
	height: 40px;
}

nav .logo h1 {
	margin-left: 10px;
	font-size: 15px;
}

/*-- Fin barre de navigation --*/

#barre {
    left: 0;
    height: 10px;
    border-radius: 0px 50px 50px 0px;
    position: fixed;
    top: 8vh;
    background: linear-gradient(to right,var(--main-bg-color2), var(--main-bg-color));
}

/*-- Début bouton et menu --*/

.menu-items button {
	font-family: 'Dyno', sans-serif;
	background-color: inherit;
	border: none;
	outline: none;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 5px;
	color: rgb(255, 255, 255);
	cursor: pointer;
    z-index: 10;
}

.menu-items button:hover {
	background-color:var(--main-bg-color2);
	border-radius:12px;
	color: #ffffff;
	border-color:  var(--main-bg-color);
}

.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu-items li {
    margin-left: 15px;
	cursor: pointer;
    z-index: 10;
}

.menu-items li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    z-index: 10;
}

.menu-items ul {
    list-style: none;
    display: none; 
    background: var(--main-bg-color);
    position: absolute;
    z-index: 10;
}

.menu-items ul a {
    width: 100%;
    background: var(--main-bg-color);
}

.menu-items ul:hover {
    display: none;
}

.menu-items li:hover ul {
    display: block;
}

/*-- Fin bouton et menu --*/

/*-- Début du contenu de la page --*/

.page-content {
    padding: 4%;
    position: sticky;
    z-index: 2;
    background: var(--second-bg-color);
}

.page-content .content {
	padding-top: 5%;
	max-width: 80%;
}

.page-content .content h1 {
	margin: 0;
	font-family: 'Dyno', sans-serif;
	font-size: 6vw;
}

.page-content .content p {
	line-height: 30px;
	color: #f7f7f7;
}

.page-content .presentation-image {
	padding-top: 5%;
}

.page-content .presentation-image img {
	max-width: 100%;
	height: auto;
    background: var(--main-bg-color);
}
.page-content .carte {
    text-align: center;
    padding-top: 1.5vh;
}

.page-content .itineraire {
    text-align: center;
}
.page-content .itineraire .depart {
    border-radius: 5px;
}
.page-content .itineraire .recherche {
    border-radius: 5px;
    font-family: 'Dyno', sans-serif;
}

/*-- Fin du contenu de la page --*/



/*-- Début footer --*/

.footer {
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
	justify-content: space-around;
	background-color: var(--main-bg-color);
	color: rgb(248, 248, 248);
    z-index: 5;
    position: absolute;
    height: 80vh;
    width: 100%;
}
.first-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.first-part img {
    width: 50px;
}
.first-part div {
    left: 0;
    right: 0;
    margin:auto;
}
.second-part {
    display: flex;
    flex-direction: column;
}
.second-part .partenaire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer .second-part .partenaire img {
    width: auto;
    height: 10vh;
    left: 0;
    right: 0;
    margin: auto;
    filter: grayscale(1);
}
.footer .second-part .partenaire img:hover {
    animation: colorfill 0.5s alternate both;
}
/* Slide in */
.footer .first-part #title-utile, .footer .first-part #title-ecole, .footer .first-part #title-mention {
	overflow: hidden;
    text-decoration: none;
    color: white;
    font-family: 'Dyno', sans-serif;
    font-weight: bold;
    font-size: larger;
	display: block;
	position: relative;
	padding: 0.2em 0;
}
.footer .first-part #title-utile::after, .footer .first-part #title-ecole::after, .footer .first-part #title-mention::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: var(--main-bg-color2);
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.footer .first-part #title-utile::after, .footer .first-part #title-ecole::after, .footer .first-part #title-mention::after {
	opacity: 1;
	transform: translate3d(-100%, 0, 0);
}

.footer .first-part #title-utile:hover::after, .footer .first-part #title-ecole:hover::after, .footer .first-part #title-mention:hover::after,
.footer .first-part #title-utile:focus::after, .footer .first-part #title-ecole:focus::after, .footer .first-part #title-mention:focus::after{
	transform: translate3d(0, 0, 0);
}

.bouton {
    font-family: 'Dyno', sans-serif;
	outline: none;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 5px;
	background-color:var(--main-bg-color2);
	border-radius:12px;
	color: #ffffff;
	border-color:  var(--main-bg-color);
	cursor: pointer;
}

.colonne h3 {
    font-size: 30px;
}

.footer .colonne p {
	font-size: 20px;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.footer .colonne p:hover {
	color: rgb(104, 102, 102);
}

/*-- Fin footer --*/

.col {
	color: rgb(255, 255, 255);
}

/* Test */
.nav-container #check {
    display: none;
}
.hamburger-lines {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    padding: 2vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    z-index: 100;
}
.menu .accueil {
    margin-left: 1vw;
}
.menu .liens {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1vw;
}
.menu .liens .lien {
    margin: 0 0.5vw;
    width: fit-content;
    height: min-content;
    text-decoration-style: none;
}
.menu .liens .lien {
    border-radius: 100px;
    border: none;
    background-color: transparent;
    color: white;
    padding: 1vh 1vw;
    box-shadow: 0 0 0 white;
    transition: box-shadow 1s;
    transition: transform 0.5s;
    cursor: pointer;
    font-family: 'Dyno', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}
.menu .liens .lien:hover {
    animation: box-shadow 1s forwards;
    transform: scale(1.1);
    background-color: var(--main-bg-color2);
}
.menu .liens a {
    color: white;
}
.menu img {
    height: 5vh;
    width: auto;
}
.menu .liens img {
    filter: brightness(3);
    height: 3.5vh;
}
.menu .lien {
    height: 5vh;
}
.menu .accueil img {
    transition: transform 1s;
}
.menu .accueil img:hover {
    transform: scale(1.1);
}

.menu .liens .langues, .menu .liens .infos {
    position: relative;
}

.menu .liens .langue, .menu .liens .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 100%;
    left: 0; 
    display: none;
    width: auto;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu .liens .langues:hover .langue, .menu .liens .infos:hover .info {
    display: block;
    margin-top: 0.25vh;
    border-radius: 25px;
}

.menu .liens .langue a, .menu .liens .info a {
    display: block;
    border-radius: 50px;
    padding: 1vh 0;
    width: 5vw;
    text-decoration: none;
    color: #333333;
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Dyno', sans-serif;
    font-weight: bold;
    transition: transform 1s;
}
.menu .liens .info a {
    width: 12vw;
}

.menu .liens .langue a:hover, .menu .liens .info a:hover {
    background-color: var(--main-bg-color2);
    color: white;
    transform: scale(1.1);
}
  

@keyframes box-shadow {
    from {
        box-shadow: 0 0 0 white;
    }
    to {
        box-shadow: 0 0 1vh white;
    }
}


/*-- Début média --*/
@media all and (max-width: 991px) {

    nav {
		justify-content: center;
        z-index: 101;
	}

	nav ul {
		display: none;
	}
    .page-content {
        width: 100%;
        height: 100vh;
    }
	.page-content .content {
		padding-top: 10%;
		width: 100%;
	}
    .footer .colonne a {
        width: 5px;
    }
	.footer {
		justify-content: center;
        width: 100%;
        bottom: 0;
	}

	.footer .colonne {
        flex-grow: 1;
	}

    .content {
        background: transparent;
    }
    .logo {
        position: relative;
        z-index: 20;
    }
    .nav-container #check {
        display: block;
    }

    .menu-items li a {
        font-size: 2rem;
        z-index: 101;
    }

    .btn {
        font-size: 2rem;
        z-index: 101;
    }
    .container {
        max-width: 1050px;
        width: 90%;
        margin: auto;
      }
      
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
      }
      
       /*.menu-items {
        display: flex;
      }*/
      
       .nav-container li {
        list-style: none;
      }
      
       .nav-container a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
      }
      
       .nav-container a:hover{
          font-weight: bolder;
      }
      
      .nav-container {
        display: block;
        position: relative;
        height: 60px;
      }
      
      .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
      
      .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #ffffff;
      }
      
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      
       .menu-items {
        position: fixed;
        margin-top: 8vh;
        box-shadow: inset 0 10px 100vw var(--main-bg-color);
        background-color: var(--main-bg-color);
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        right: 0;
        z-index: 100;
      }
      
       .menu-items li {
        top: 0;
        bottom: 0;
        margin: auto;
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      
      .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }
}

/*-- Fin média --*/
