#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
  left: 0;
  margin-left: 0;
  text-align: left;
}


.slide-wrapper {
  width: 2912px;
  animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}
.accueil-content {
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("../data/image/fond.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 100vh;
}

#foreground {
  z-index: 2;
  overflow-x: hidden;
  position: fixed;
  height: 90%;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
}

#title-behind-img {
  font-size: 10vw;
  font-family: 'Dyno', sans-serif;
  z-index: 1;
  margin: 0;
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }

  30% {
    margin-left: -728px;
  }

  50% {
    margin-left: -728px;
  }

  60% {
    margin-left: -1456px;
  }

  70% {
    margin-left: -1456px;
  }

  80% {
    margin-left: -2184px;
  }

  90% {
    margin-left: -2184px;
  }
}