.accueil-content, .page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.page {
  height: fit-content;
  margin: 2vh 0;
  text-align: center;
}
.accueil-content {
  margin-top: 5vh;
}
.accueil-content span {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Dyno', sans-serif;
  user-select: none;
  cursor: pointer;
}

.fil_twitter {
  width: 100%;
}

#background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  left: 0;
  top: 0;
  z-index: -1;
  animation: blur-effect 5s infinite alternate both;
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }

  30% {
    margin-left: -728px;
  }

  50% {
    margin-left: -728px;
  }

  60% {
    margin-left: -1456px;
  }

  70% {
    margin-left: -1456px;
  }

  80% {
    margin-left: -2184px;
  }

  90% {
    margin-left: -2184px;
  }
}

@keyframes blur-effect {
  from {
    filter: blur(3px);
    transform: scale(1);
  }
  to {
    filter: blur(10px);
    transform: scale(1.05);
  }
}